{% extends 'base.html' %}
{% block content %}

<head>
    <title>{% block title %}Main Page{% endblock %}</title>
</head>


<div class="textContainer" style="text-align: center;">
    <p class="customCSSTitle"><b>IBIS</b></p>
    <p class="customCSSSubTitle">&#10211 An Egyptian hieroglypics database &#10210</p>
</div>

<div class="textContainer">
    <p class="customCSSSubTitle">&#10211 Why this project?</p>
    <p class="customCSSTextBody">
        The study of ancient Egypt is as much reliant on the comprehension of hieroglyphs than it is on archeological
        skills. Hieroglyphs were not only the means by which ancient Egyptians transcribed their own stories, historical
        records, myths and beliefs but were also a means of artistic expression and played a key role in the Egyptian
        religion and representation of the Egyptian worldview world itself. As such, having access to a robust database
        regrouping information of things such as names, epithets, royal titualture, cities and gods, with corresponding
        transliterations, hieroglyphics notation and references would be an invaluable tool for egyptologists and
        hobbyists alike. Thus, <b>IBIS</b> was born: a website serving as a portal to access and query this trove of
        ressources and knowledge, with the goal being to produce a tool which would not only be reliable but also
        trustworthy and as comprehensive as possible.
    </p>
    <hr>
    <p class="customCSSSubTitle">&#10211 What are Hieroglyphs?</p>
    <p class="customCSSTextBody">
        Hieroglyphs are not a language, but a script. Specifically, they were the predominant script used throughout the
        decoration of monuments in Ancient Egypt from the predynastic period around c. 3200 BCE all the way to the
        conversion of Egypt to Christianity in 400 CE. The language they were used to represent was Egyptian, and
        afro-asiatic language in use in the Nile valley up and until the decline of Egyptian civilisation following the
        conquest of Egypt by the Roman Empire and the later dismantlement of the temples, in favour of the Coptic
        language which used its own distinct script. The Egyptian language underwent different phases, though begining
        with the Middle Kingdom hieroglyphs were predominantly written in Middle Egyptian, therafter the "classical"
        version of the language used in formal contexts; hieroglyphs were reserved for temples, tombs and items of
        significant value. They were as much considered a script as they were magical.
        <br><br>
        Hieroglyphs are not an alphabeter either. Rather, they consist in symbols who can fulfill one of three
        functions: that of a logograph, of an ideograph or a determinant; a given hieroglyphs could thus be used to
        write a sound, represent the subject of their image, or be used to specifiy the meaning of another word - all
        depending on the context in which it is used. The second particularity of this writing system was that there
        were no or rather limited vowels. As such, modern translations seldom possess a phonetic representation which
        has garnered the unanimous approval of all egyptologists. The third quirk of this system lies in its use; as
        mentioned earlier Middle Egyptian is the predominant language used to write hieroglyphs, even if the spoken
        language might have differed at a given time. Lastly, hieroglyphs could be written alternatively to be read from
        right to left and left to right.
    </p>
    <br>
    <p class="customCSSTextBody">
        Alternate alphabets were also used in ancient Egypt. These included cursive hieroglypic, hieratic, demotic and -
        much later - coptic. With the exception of the latter, all were variations of the same script and followed the
        same principles, and were all used to transcribe the Egyptian language. All stemmed from the same model - though
        at a glance this might not appear to be case.
    </p>
    <table class="customCSSSCenterTable">
        <tr>
            <td><img class="imageCenterInline" src="static/assets/images/stela_senu.jpg"></td>
            <td><img class="imageCenterInline" src="static/assets/images/hieratic_ostracon.jpg"></td>
            <td><img class="imageCenterInline" src="static/assets/images/demotic_inscription.jpg"></td>
        </tr>
        <tr>
            <td>
                <p class="customCSSTextLegend">
                    An example of a hieroglypic inscription. "Stela of the Gatekeeper Maati" - Credit: Metropolitan
                    Museum of art.
                </p>
            </td>
            <td>
                <p class="customCSSTextLegend">
                    An example of a hieratic inscription. "Hieratic ostracon" - Credit: Metropolitan
                    Museum of art.
                </p>
            </td>
            <td>
                <p class="customCSSTextLegend">
                    An example of a demotic inscription. "Demotic Temple Oath " - Credit: Metropolitan
                    Museum of art.
                </p>
            </td>
        </tr>
    </table>
    <hr>

    <p class="customCSSSubTitle">&#10211 How do I use IBIS?</p>
    <p class="customCSSTextBody">
        Text goes here
    </p>
</div>

{% endblock %}