{% extends 'base.html' %}
{% block content %}

<head>
    <title>{% block title %}Search{% endblock %}</title>
</head>

<div class="textContainer">
    <form method="post" class="customCSSform">
        <label for="title" class="customCSSSubTitle">Search by transliteration</label>
        <p style="font-style: italic;">This is case sensitive</p>
        <input type="text" name="transliteration" placeholder="Enter your query here" value="" class="customCSSFormBox"></input>
        <button type="submit" class="customCSSformButton">Submit</button>
        <br><br>
        <input type="checkbox" id="startWithBox" name="searchFirstMatchingOnly" value="">
        <label for="startWithBox">Only match records that start with query</label>
    </form>
</div>


<div class="textContainer">
    {% if entries == 'None' %}
    <p class="customCSSSubTitle">Query results</p>
    <p style="text-align: center;">No results were found matching the query within available transliterations</p>
    {% endif %}

    {% if entries != 'None' %}
    <p class="customCSSSubTitle">Query results</p>
    <table class="customCSSOutputTable" id="OutputTable">
        <tr>
            <th onclick="sortTable(0)">Translation (Egyptian)</th>
            <th onclick="sortTable(1)">Translation (Anglicised)</th>
            <th onclick="sortTable(2)">Transliteration</th>
            <th onclick="sortTable(3)">Gardiner notation</th>
            <th onclick="sortTable(4)">Tags</th>
            <th onclick="sortTable(5)">References</th>
            <th onclick="sortTable(6)">Notes</th>
        </tr>
        {% for key, value in entries.items() %}
        <tr>
            <td>{{ value['translation'] }}</td>
            <td>{{ value['translationEnglish'] }}</td>
            <td>{{ value['transliteration'] }}</td>
            <td>{{ value['gardiner'] }}</td>
            <td>{{ value['tags'] }}</td>
            <td>{{ value['references'] }}</td>
            <td>{{ value['notes'] }}</td>
        </tr>
        {% endfor %}
        {% endif %}
    </table>

</div>


{% endblock %}