{% extends 'base.html' %}
{% block content %}

<head>
    <title>{% block title %}Search{% endblock %}</title>
</head>

<div class="textContainer">
    <form method="post" class="customCSSform">
        <label for="title" class="customCSSSubTitle">Search by translation</label>
        <br><br>
        <input type="text" name="translation" placeholder="Enter your query here" value="" class="customCSSFormBox"></input>
        <button type="submit" class="customCSSformButton">Submit</button>
        <br><br>
        <input type="checkbox" id="startWithBox" name="searchFirstMatchingOnly" value="">
        <label for="startWithBox">Only match records that start with query</label>
    </form>
</div>

{% endblock %}